.alert {
  padding: 5px;
  background-color: #35e213;
  color: black;
  border-radius: 13px; 
  margin: 5%; 

}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: rgb(226, 13, 13);
}
ion-title{
  text-align: center;
  color: var(--ion-color-miprimary);
}