.alert {
    padding: 5px;
    background-color: #35e213;
    border-radius: 10px; 
    margin: 5%;
   
  }
  
  .closebtn {
    margin-left: 0px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: rgb(226, 9, 9);
  }